<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Page Acceuil 2</h1>
    <h2><%= current_user.id %></h2>

	<a  href="/session/<%= @id %>" data-method="delete" >Log Out</a>


	
</body>
</html>