<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Search page</title>
    <style>
      *{
        background-color:#78e08f;
      }
    </style>
  </head>

  <body style="padding-top:2%;">

    <h1 style="font-size:2.5em; text-align:center;text-decoration:underline;text-decoration-style:wavy;">Search result</h1><br/><br/><br/>

    <% @results.each do |result| %>
      <p style="text-align:center; font-size:1.2em">
        <span style="font-size:1.25em; font-style:italic;text-transform:capitalize"><%= result.name %></span>
        is <%= result.description %><br>
      </p>
    <% end %>
    <p></p><br>
    <p style="text-align:center"><%= link_to "Back", root_path %></p>

  </body>
</html>
